body{
    margin:0px;
    padding:0px;
   background: linear-gradient(90deg, rgba(151,157,177,1) 43%, rgba(255,255,255,1) 100%);
    height: 100%;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
  }
  /* Conteneur des 3 parties(demarrage, game , result) */
  .quiz-app{
    margin: 8px auto;
    height: 560px;
    width: 330px;
    background-color:#252C4A;
    border:#282B49 solid 18px;
    border-radius: 30px;
  }
  /* Copyright */
  #code{
    font-weight: 400;
    color:#BFBFBF;
  }
.start,.result,.quiz{
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}
.start{
  margin-top: 15vh;
}
.hidden{
  display: none;
}

.next_bouton{
  padding: 15px 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 17px;
  border:none;
  border-radius: 30px;
  background-color:#117EEB;
  color:white;
  outline:none;
  cursor: pointer;
}
.next_bouton:hover{
  background-color: white;
  color:#117EEB;  
}
/* Barre de progression(temps partie) */
.time-bar{
  margin:17px auto;
  width: 90%;
  height:15px;
  border:2px solid #41476A ;
  border-radius: 30px;
}
/* Temps restant */
.time-left{
    width: 100%;
    height:inherit;
    border-radius: 30px;
    background-color: rgb(250,81,113);
}
/* Resultat provisioire et nomrbe de vies */
.resultProv{
  color:#8E97BD;
  font-weight: 700;
  font-size: 20px;
  display: grid;
  grid-template-columns: 6fr 6fr;
}
.couleur_vie{
  color: red;
}
/* Conteneur questions */
#question{
  font-weight: 100;
  font-size: 10px;
  height: 15vh;
  text-align: center;
  border-radius: 30px;
  margin: 10px auto 20px;
  padding:7px 5px;
  color: white;
  background-color: #8E97BD;
}
/* Bouton choix */
.choices{
  text-align: center;
}
.btn{
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  border: 3px solid #254567;
  border-radius: 20px;
  background-color:transparent;
  color:white;
  outline:none;
}
.btn:hover{
  transform: scale(1.05);
  background-color: #8E97BD ;
}
/* Test: S'il trouve une question fausse: Mettre ce dernier en rouge avec animation*/
.true{
  box-shadow: -1px -1px 1em green,2px 2px .4em green;
  border: green 3px solid;
}
.false{
  box-shadow: -1px -1px 1em red,2px 2px .4em red;
  border: red 3px solid;
}

.next-btn{
  text-align: center;
}
#next{
  padding: 15px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border:none;
  border-radius: 30px;
  background-color:#117EEB;
  color:white;
  outline:none;
}
#next:hover{
  background-color: white;
  color:#117EEB;
}


/* Troisieme partie */
.result:not(.hidden){
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:white;
  background:
  linear-gradient(to top,#F55AD2,#603C84,#151342);
}
/* Score */
.app{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 35px;
}
/* Stats */
.result:not(.hidden) > div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-size: 20px;
}

.result:not(.hidden) > div >span:nth-child(2){
  font-weight: bold;
}
.result:not(.hidden) > div >span:nth-child(2)::after{
  content: ">";
  margin-left: 10px;
}
/* Bouton rejouer */
.result:not(.hidden) button {
  width: 90%;
  cursor: pointer;
  margin: auto;
  border-radius: 30px;
  padding: 10px;
  font-size: 22px;
  outline: none;
  border: none;
  color: white;
  font-weight: 800;
  background-color: #EC79D6;
  box-shadow: #b14ea4;
}
